<!DOCTYPE html>
<html>
<head>
    <title>gRPC Whisper Transcription Client</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>gRPC Whisper Transcription Client</h1>
        <h3><a href="/">Transcription</a> <a href="/recorder">Recorder</a></h3>
        
        <div id="audio-controls">
            <button id="audio-toggle">Start Streaming</button>
            <button id="visualizer-toggle" style="margin-left: 10px;">Visualizer Only</button>
            <div class="canvas-container" id="waveform-container">
                <canvas id="waveform"></canvas>
                <canvas id="waveform-ui" class="overlay"></canvas>
            </div>
            <div class="canvas-container" id="spectrum-container">
                <canvas id="freq-spectrum"></canvas>
                <canvas id="freq-spectrum-ui" class="overlay"></canvas>
            </div>
            <div class="canvas-container" id="spectrogram-container">
                <canvas id="spectrogram"></canvas>
                <canvas id="spectrogram-ui" class="overlay"></canvas>
            </div>
            <div id="transcription-container" style="margin-top: 20px; text-align: left;">
                <span class="live-label">Live Transcription:</span>
                <div id="transcription">
                    <div id="transcript-history"></div>
                    <div id="partial-result"></div>
                </div>
            </div>
        </div>

    </div>
    <script src="/static/js/visualizer.js"></script>
</body>
</html>
